.swap-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}

.result-container {
  margin-top: 20px;
}

.site-page-header {
  border: 1px solid rgb(235, 237, 240);
  background-color: #fff;
  margin-bottom: 20px;
}
